<section class="projects">
    <div class="projects__element projects__element_one">
        <ul class="projects__links links">
            <li class="links__item">
                <a class="links__link" href="#">
                    All
                </a>
            </li>
            <li class="links__item">
                <a class="links__link" href="#">
                    House
                </a>
            </li>
            <li class="links__item">
                <a class="links__link" href="#">
                    Commercial
                </a>
            </li>
            <li class="links__item">
                <a class="links__link" href="#">
                    Personal
                </a>
            </li>
            <li class="links__item">
                <a class="links__link" href="#">
                    Studio Lab
                </a>
            </li>
        </ul>
        <h1 class="projects__title">
            Projects
        </h1>
    </div>
    <div class="projects__element projects__element_two">
        <div class="projects__info">
            <h2 class="projects__name">
                FONDUE
            </h2>
            <p class="projects__description">
                <b> Project Assistant:</b> Francesco Dompieri
            </p>
            <p class="projects__description">
                <b>Material:</b> Glass and Metal
            </p>
            <p class="projects__description">
                <b>Typology:</b> Suspension lamp
            </p>
            <p class="projects__description">
                <b>Client:</b> David Design
            </p>
            <p class="projects__description">
                <b>Year:</b> 2014>
            </p>
        </div>
        <div class="projects__counter">
            <a class="projects__view" href="#">
                <span>view project</span>
            </a>
            <p class="projects__like like">
                <button class="like__btn" aria-label="like">
                    <svg>
                        <use xlink:href="images/icons-sprite.svg#icon-like"></use>
                    </svg>
                </button>
                <span class="like__counts">+ 200</span>
            </p>
        </div>
    </div>
    <div class="projects__element projects__element_three">
        <div class="projects__info">
            <h2 class="projects__name">
                Potter
            </h2>
            <p class="projects__description">
                <b> for </b> stelton
            </p>
            <p class="projects__description projects__description_lowercase">
                Potter focuses on the functionality and process of preparing tea. a big sieve allows the flavor of to
                evenly brewed.
            </p>
        </div>
        <div class="projects__counter">
            <a class="projects__view" href="#">
                <span>view project</span>
            </a>
            <p class="projects__like like">
                <button class="like__btn" aria-label="like">
                    <svg>
                        <use xlink:href="images/icons-sprite.svg#icon-like"></use>
                    </svg>
                </button>
                <span class="like__counts">+ 200</span>
            </p>
        </div>
    </div>
    <div class="projects__element projects__element_four">
        <div class="projects__info">
            <h2 class="projects__name">
                tabano
            </h2>
            <p class="projects__description">
                <b>DESIGNER:</b> PATRICIA URQUIOLA
            </p>
            <p class="projects__description">
                <b>Typology:</b> Armchairs
            </p>
            <p class="projects__description">
                <b>Client:</b> B&B ITALIA
            </p>
            <p class="projects__description">
                <b>Year:</b> 2014
            </p>
        </div>
        <div class="projects__counter">
            <a class="projects__view" href="#">
                <span>view project</span>
            </a>
            <p class="projects__like like">
                <button class="like__btn" aria-label="like">
                    <svg>
                        <use xlink:href="images/icons-sprite.svg#icon-like"></use>
                    </svg>
                </button>
                <span class="like__counts">+ 200</span>
            </p>
        </div>
    </div>
    <div class="projects__element projects__element_five">
        <div class="projects__info">
            <h2 class="projects__name">
                louis xx
            </h2>
            <p class="projects__description">
                <b>DESIGNER:</b> philippe starck
            </p>
            <p class="projects__description">
                <b>Typology:</b> chairs
            </p>
            <p class="projects__description">
                <b>Client:</b> vitra
            </p>
            <p class="projects__description">
                <b>Year:</b> 2012
            </p>
        </div>
        <div class="projects__counter">
            <a class="projects__view" href="#">
                <span>view project</span>
            </a>
            <p class="projects__like like">
                <button class="like__btn" aria-label="like">
                    <svg>
                        <use xlink:href="images/icons-sprite.svg#icon-like"></use>
                    </svg>
                </button>
                <span class="like__counts">+ 200</span>
            </p>
        </div>
    </div>
    <div class="projects__element projects__element_six">
        <div class="projects__info">
            <h2 class="projects__name">
                395-396 P22
            </h2>
            <p class="projects__description">
                <b>DESIGNER:</b> Patrick Norguet
            </p>
            <p class="projects__description">
                <b>Typology:</b> ARMchairs
            </p>
            <p class="projects__description">
                <b>Client:</b> Cassina
            </p>
            <p class="projects__description">
                <b>Year:</b> 2013
            </p>
        </div>
        <div class="projects__counter">
            <a class="projects__view" href="#">
                <span>view project</span>
            </a>
            <p class="projects__like like">
                <button class="like__btn" aria-label="like">
                    <svg>
                        <use xlink:href="images/icons-sprite.svg#icon-like"></use>
                    </svg>
                </button>
                <span class="like__counts">+ 200</span>
            </p>
        </div>
    </div>
    <div class="projects__element projects__element_seven">
        <div class="projects__info">
            <h2 class="projects__name">
                FIJI
            </h2>
            <p class="projects__description">
                <b>DESIGNER:</b> Cuno Frommherz
            </p>
            <p class="projects__description">
                <b>Typology:</b> armchairs
            </p>
            <p class="projects__description">
                <b>Year:</b> 2012
            </p>
        </div>
        <div class="projects__counter">
            <a class="projects__view" href="#">
                <span>view project</span>
            </a>
            <p class="projects__like like">
                <button class="like__btn" aria-label="like">
                    <svg>
                        <use xlink:href="images/icons-sprite.svg#icon-like"></use>
                    </svg>
                </button>
                <span class="like__counts">+ 200</span>
            </p>
        </div>
    </div>
    <div class="projects__element projects__element_eight">
        <div class="projects__info">
            <h2 class="projects__name">
                Sesann
            </h2>
            <p class="projects__description">
                <b>DESIGNER:</b> Gianfranco Frattini
            </p>
            <p class="projects__description">
                <b>Typology:</b> armchairs
            </p>
            <p class="projects__description">
                <b>Client:</b> cassina
            </p>
            <p class="projects__description">
                <b>Year:</b> 1970
            </p>
        </div>
        <div class="projects__counter">
            <a class="projects__view" href="#">
                <span>view project</span>
            </a>
            <p class="projects__like like">
                <button class="like__btn" aria-label="like">
                    <svg>
                        <use xlink:href="images/icons-sprite.svg#icon-like"></use>
                    </svg>
                </button>
                <span class="like__counts">+ 200</span>
            </p>
        </div>
    </div>
    <div class="projects__element projects__element_nine">
        <div class="projects__info">
            <h2 class="projects__name">
                Alessi
            </h2>
            <p class="projects__description">
                <b>DESIGNER:</b> Piero Lissoni
            </p>
            <p class="projects__description">
                <b>Client:</b> Alessi
            </p>
            <p class="projects__description">
                <b>Year:</b> 2013
            </p>
        </div>
        <div class="projects__counter">
            <a class="projects__view" href="#">
                <span>view project</span>
            </a>
            <p class="projects__like like">
                <button class="like__btn" aria-label="like">
                    <svg>
                        <use xlink:href="images/icons-sprite.svg#icon-like"></use>
                    </svg>
                </button>
                <span class="like__counts">+ 200</span>
            </p>
        </div>
    </div>
    <div class="projects__element projects__element_ten">
        <p class="projects__subtitle">
            Timeline
        </p>
        <ul class="projects__links links">
            <li class="links__item">
                <a class="links__link" href="#">
                    2014
                </a>
            </li>
            <li class="links__item">
                <a class="links__link" href="#">
                    2013
                </a>
            </li>
            <li class="links__item">
                <a class="links__link" href="#">
                    2012
                </a>
            </li>
            <li class="links__item">
                <a class="links__link" href="#">
                    2011
                </a>
            </li>
            <li class="links__item">
                <a class="links__link" href="#">
                    2010
                </a>
            </li>
        </ul>
    </div>
</section>