<section class="studio">
    <div class="studio__left">
        <h2 class="studio__title">studio</h2>
    </div>
    <div class="studio__right">
        <div class="studio__information">
            <p class="studio__text studio__text_boltitalic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin eros sit amet nulla
                rhoncus dictum.
            </p>
            <p class="studio__text studio__text_boltitalic">
                Nam rhoncus fringilla dolor vitae vulputate. Nullam quis eros lorem. Integer cursus erat a orci congue
                feugiat. Cras rhoncus mollis libero, id aliquet purus varius sed.
            </p>
            <p class="studio__text">Aenean ullamcorper porta nisl, ac lobortis elit commodo placerat.</p>
            <p class="studio__text"> Vivamus eget laoreet enim. Sed nunc dui, egestas vel diam convallis, faucibus
                iaculis sapien. Sed ut
                vulputate nisi.</p>
            <p class="studio__text"> Proin tempor risus tellus. Maecenas sit amet fringilla urna, vel iaculis velit. Sed
                ac felis et sem
                mollis dictum sed id orci.</p>
        </div>
        <div class="studio__desctiption">
            <picture>
                <source media="(min-width: 1500px)" srcset="images/staff/studio-2x.jpg">
                <img class="studio__img" src="images/staff/studio.jpg"
                    srcset="images/staff/studio.jpg 1x, images/staff/studio-2x.jpg 2x" alt="philippe starck">
            </picture>
            <h3 class="studio__subtitle">awards</h3>
            <ul class="studio__list">
                <li class="studio__list-item">Aenean ullamcorper porta nisl, <br>
                    ac lobortis elit
                    commodo placerat.
                    Vivamus </li>
                <li class="studio__list-item">Aenean ullamcorper porta nisl, <br>
                    ac lobortis elit
                    commodo placerat.
                    Vivamus </li>
            </ul>
        </div>
    </div>
    <div class="studio__staff">
        <p class="studio__staff-title">staff</p>
        <p class="studio__staff-text">
            Sit amet laoreet sapien dictum. Sed eget eros augue. Pellentesque tempor mi sit amet nisi tincidunt
            tincidunt. Fusce malesuada lectus sed mauris pharetra faucibus.
        </p>
        <p class="studio__staff-text">
            Aenean diam tortor, hendrerit ac pulvinar vel, condimentum ac velit. Phasellus eu odio elit. Aenean
            volutpat mi quam, ut ornare augue tempus ut.
        </p>
        <p class="studio__staff-text">
            Morbi sagittis diam mauris, in adipiscing nulla convallis ut.
        </p>
    </div>
    <div class="studio__persons">
        <ul class="persons">
            <li class="persons__item">
                <picture>
                    <source media="(min-width: 1500px)" srcset="images/staff/person1-2x.jpg">
                    <img class="persons__img" src="images/staff/person1.jpg"
                        srcset="images/staff/person1.jpg 1x, images/staff/person1-2x.jpg 2x" alt="philippe starck">
                </picture>
                <p class="persons__name">
                    philippe starck
                </p>
                <p class="persons__post">
                    designer
                </p>
                <div class="persons__info">
                    <a href="#" class="persons__cv">
                        <span>cv</span>
                    </a>
                    <ul class="persons__socials socials">
                        <li class="socials__element">
                            <a class="socials__link" href="#" aria-label="Facebook">
                                <svg class="socials__facebook-mini">
                                    <use xlink:href="images/icons-sprite.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__element">
                            <a class="socials__link" href="#" aria-label="Twitter">
                                <svg class="socials__twitter-mini">
                                    <use xlink:href="images/icons-sprite.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__element">
                            <a class="socials__link" href="#" aria-label="Linkedin">
                                <svg class="socials__linkedin-mini">
                                    <use xlink:href="images/icons-sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__element">
                            <a class="socials__link" href="#" aria-label="Google plus">
                                <svg class="socials__google-mini">
                                    <use xlink:href="images/icons-sprite.svg#icon-google"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="persons__item">
                <picture>
                    <source media="(min-width: 1500px)" srcset="images/staff/person2-2x.jpg">
                    <img class="persons__img" src="images/staff/person2.jpg"
                        srcset="images/staff/person2.jpg 1x, images/staff/person2-2x.jpg 2x" alt="philippe starck">
                </picture>
                <p class="persons__name">
                    mario bellini
                </p>
                <p class="persons__post">
                    designer
                </p>
                <div class="persons__info">
                    <a href="#" class="persons__cv">
                        <span>cv</span>
                    </a>
                    <ul class="persons__socials socials">
                        <li class="socials__element">
                            <a class="socials__link" href="#" aria-label="Facebook">
                                <svg class="socials__facebook-mini">
                                    <use xlink:href="images/icons-sprite.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__element">
                            <a class="socials__link" href="#" aria-label="Twitter">
                                <svg class="socials__twitter-mini">
                                    <use xlink:href="images/icons-sprite.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__element">
                            <a class="socials__link" href="#" aria-label="Linkedin">
                                <svg class="socials__linkedin-mini">
                                    <use xlink:href="images/icons-sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__element">
                            <a class="socials__link" href="#" aria-label="Google plus">
                                <svg class="socials__google-mini">
                                    <use xlink:href="images/icons-sprite.svg#icon-google"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="persons__item">
                <picture>
                    <source media="(min-width: 1500px)" srcset="images/staff/person3-2x.jpg">
                    <img class="persons__img" src="images/staff/person3.jpg"
                        srcset="images/staff/person3.jpg 1x, images/staff/person3-2x.jpg 2x" alt="philippe starck">
                </picture>
                <p class="persons__name">
                    patricia urquiola
                </p>
                <p class="persons__post">
                    designer
                </p>
                <div class="persons__info">
                    <a href="#" class="persons__cv">
                        <span>cv</span>
                    </a>
                    <ul class="persons__socials socials">
                        <li class="socials__element">
                            <a class="socials__link" href="#" aria-label="Facebook">
                                <svg class="socials__facebook-mini">
                                    <use xlink:href="images/icons-sprite.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__element">
                            <a class="socials__link" href="#" aria-label="Twitter">
                                <svg class="socials__twitter-mini">
                                    <use xlink:href="images/icons-sprite.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__element">
                            <a class="socials__link" href="#" aria-label="Linkedin">
                                <svg class="socials__linkedin-mini">
                                    <use xlink:href="images/icons-sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__element">
                            <a class="socials__link" href="#" aria-label="Google plus">
                                <svg class="socials__google-mini">
                                    <use xlink:href="images/icons-sprite.svg#icon-google"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>