.socials {
	$self: &;
	display: flex;
	align-items: flex-end;
	padding: 0;
	
	&__element {
		margin: 0 6px;
		&:last-child {
			margin-right: 0;
		}
	}

	&__facebook {
		width: 10px;
		height: 22px;
		fill: $second;
	}
	&__facebook-mini {
		width: 6px;
		height: 13px;
		fill: $red;
	}
	
	&__twitter {
		width: 26px;
		height: 21px;
		fill: $second;
	}
	&__twitter-mini {
		width: 13px;
		height: 10px;
		fill: $red;
	}
	
	&__linkedin {
		width: 24px;
		height: 23px;
		fill: $second;
	}
	&__linkedin-mini {
		width: 13px;
		height: 12px;
		fill: $red;
	}
	
	&__google {
		width: 19px;
		height: 19px;
		fill: $second;
	}
	&__google-mini {
		width: 14px;
		height: 13px;
		fill: $red;
	}

}
